$hzc-black: #000000;
$hzc-white: #ffffff;

$hzc-orange: (
  'orange-light': #ffe3d6,
  'orange-00': #ff7133,
  'orange-dark': #f5520c,
);

$hzc-purple: (
  'purple-light': #f5f2fc,
  'purple-00': #9b88e9,
  'purple-dark': #7c61e8,
);

$hzc-green: (
  'green-light': #ebfbee,
  'green-00': #51cf66,
  'green-dark': #40c057,
);

$hzc-red: (
  'red-00': #ff6b6b,
  'red-dark': #fa5252,
);

$hzc-yellow: (
  'yellow-light': #fff9db,
  'yellow-00': #fcc419,
  'yellow-dark': #fab005,
);

$hzc-gray: (
  'gray-00': #f8f9fa,
  'gray-10': #f1f3f5,
  'gray-20': #e9ecef,
  'gray-30': #dee2e6,
  'gray-40': #ced4da,
  'gray-50': #adb5bd,
  'gray-60': #868e96,
  'gray-70': #495057,
  'gray-80': #343a40,
  'gray-90': #212529,
);
